################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net6.0
/obj
/ClassDemo/bin/Debug/net6.0
/ClassDemo/obj
